.typography {
  margin: 0;
  padding: 0;
  
}

h1.typography {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

h2.typography {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

h3.typography {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

h4.typography {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

h5.typography {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

h6.typography {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

p.typography {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
