.btn {
  display: flex;
  padding: 13.5px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0px 1px 2px 0px rgba(16, 40, 34, 0.05);
  cursor: pointer;
  gap: 8px;
}

.btn-default {
  border: 2px solid var(--green-haze, #06a77c);
  background: var(--green-haze, #06a77c);
  color: var(--TPR-Text-inversed, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
  transition: all 0.2s ease;
}

.btn-outline {
  border: 2px solid var(--green-haze, #06a77c);
  background-color: transparent;
  color: var(--blue-gray, #2a2d34);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
  transition: all 0.2s ease;
}

.btn-outline:hover {
  border: 2px solid var(--green-dark, #068766);
  background: var(--green-dark, #068766);
  color: var(--white, #fff);
}

.btn-default:hover {
  border: 2px solid var(--green-dark, #068766);
  background: var(--green-dark, #068766);
}

.btn-fb {
  border: 2px solid var(--neutral-800, #0e0f11);
  background: #fff;
}

.btn-outline:active,
.btn-default:active {
  border: 2px solid var(--green-primary, #04684d);
  background: var(--green-primary, #04684d);
  color: #ffffff;
}

.btn-fb-clicked {
  border: 2px solid var(--green-primary, #04684d);
  background: var(--green-primary, #04684d);
}

.btn:disabled {
  background-color: var(--light-gray);
  color: var(--text-dissabled);
  cursor: not-allowed;
  border: none;
}
