.pr-select {
  width: 100%;
  height: 56px;
  border: 1px solid var(--gainsboro, #d4d5d6);
  border-radius: 8px;
  outline: none;
  padding: 16px;
  cursor: pointer;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pr-select:focus {
  border-color: var(--green-haze, #06a77c);
}
